<p>
  Remember how you sent <a href="https://biatob.com/username/{{ recipient_username }}">{{ recipient_username }}</a> an invitation to trust you? They've told me that they do!
</p>

<div style="color: gray">
  <p>
    Details: remember how you signed up on <a href="https://biatob.com/settings">biatob.com</a>, and asked to get email notifications when something needed your attention? This is one of those times! If you don't want to get any more emails like this, you can disable various types of email on <a href="https://biatob.com/settings">https://biatob.com/settings</a>.
  </p>
</span>
