<p>
  <strong>Summary:</strong> Somebody new wants to bet against you on Biatob! But first, I need to make sure that you trust them to pay up if they lose. Do you trust whoever owns the email address <code>{{ inviter_email }}</code>? If yes, click "<a href="https://biatob.com/invitation/{{nonce}}/accept">I trust this person to (a) pay up when they're wrong about a prediction, (b) not bet more money than they can afford to lose, and (c) be reasonably impartial when assessing whether a prediction came true or not.</a>" If not, no action required.
</p>

<br />

<div style="color: gray">
  <p>
    Details: remember how you signed up on <a href="https://biatob.com/settings">biatob.com</a>, and asked to get email notifications when something needed your attention? This is one of those times! Somebody else signed up with the username <code>{{ inviter_username }}</code>, proved that they could read emails sent to <code>{{ inviter_email }}</code>, and wants to be able to bet against you.)
  </p>

  <p>
    You're getting this email because you've enabled "email invitations"; if you don't want to get any more emails like this, you can disable email invitations on <a href="https://biatob.com/settings">https://biatob.com/settings</a>, at the cost of making it a longer, more awkward process to establish trust with new people.
  </p>
</span>
