#navbar-wrapper {
  background-color: lightblue;
}
#navbar-wrapper > ul {
  max-width: 45em;
  margin: auto;
  
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

main {
  max-width: 45em;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

.create-market-form {
  list-style: none;
  padding: 0;
}

.create-market-form li {
  margin: 1ex;
  padding: 1ex;
  background-color: #ddffff;
  border-radius: 1ex;
  border: 1px solid lightblue;
  text-align: left;
}
