{% extends 'base.html' %}
{% block title %} Biatob - Invitation {% endblock %}
{% block body %}
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript" src="/elm/AcceptInvitationPage.js"></script>
  <script type="text/javascript">

    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var invitationIdPbB64 = {{ invitation_id_pb_b64 | tojson }};

    var main = Elm.AcceptInvitationPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64, invitationIdPbB64},
    });
    main.ports.authChanged.subscribe(() => window.location.reload());
    main.ports.accepted.subscribe(({dest}) => {
      window.location = dest;
    });
  </script>
{% endblock %}
