{% extends 'base_page.html' %}
{% block title %} Invitation {% endblock %}
{% block page_body %}
  <script type="text/javascript" src="/elm/AcceptInvitation.js"></script>
  <script type="text/javascript">

    var inviter = {{ inviter | tojson }};
    var nonce = {{ nonce | tojson }};
    var invitationIsOpen = {{ invitation_is_open | tojson }};
    var destination = (() => { var m = (/[?&]dest=([^&]+)/).exec(window.location.search); return m ? m[1] : "/"})();
    console.log({invitationIsOpen});

    main({elmApp: Elm.Elements.AcceptInvitation, flags: {invitationIsOpen, inviter, nonce, destination}});
  </script>
{% endblock %}
