<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript">
    window.elmGlobalFlags = {
      authSuccessPbB64: {% if auth_success_pb_b64 is defined %} {{ auth_success_pb_b64 | tojson }} {% else %} null {% endif %},
      timeZoneOffsetMinutes: new Date().getTimezoneOffset(),
      httpOrigin: window.origin,
      initUnixtime: +(new Date()),
      timeZoneOffsetMinutes: new Date().getTimezoneOffset(),
    };
    console.log('global flags', window.elmGlobalFlags);

    function copy(s) {
        var e = document.createElement('input');
        e.value = s;
        document.body.appendChild(e);
        e.select();
        document.execCommand('copy');
        e.remove();
    }

    function main({elmApp, flags}) {
      var app = elmApp.init({
        flags: {...window.elmGlobalFlags, ...flags},
      });
      var usernameField = document.getElementsByClassName('username-field')[0];
      if (usernameField) usernameField.focus();
      app.ports.pageCopy.subscribe(s => {
        var e = document.createElement('input');
        e.value = s;
        document.body.appendChild(e);
        e.select();
        document.execCommand('copy');
        e.remove();
      })
      app.ports.navigate.subscribe(dest => {if (dest) {window.location=dest} else window.location.reload()});
    }
  </script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  
  {% block page_body %}{% endblock %}

</body>
</html>
