<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript">
    window.elmGlobalFlags = {
      timeZoneOffsetMinutes: new Date().getTimezoneOffset(),
      httpOrigin: window.origin,
      initTimeMillis: +(new Date()),
    };

    window.subscribeToCopy = (app) => {
      app.ports.copy.subscribe((s) => {
        console.log('copy', s);
        var e = document.createElement('input');
        e.value = s;
        document.body.appendChild(e);
        e.select();
        document.execCommand('copy');
        e.remove();
      });
    };
  </script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  <nav id="navbar-wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      {% if auth_token_pb_b64 != None %}
        <li><a href="/new">New prediction</a></li>
        <li><a href="/my_stakes">My stakes</a></li>
        <li><a href="/settings">Settings</a></li>
      {% endif %}
      <li><div id="auth-widget"></div></li>
    </ul>
  </nav>
  <script type="text/javascript" src="/elm/AuthWidget.js"></script>
  <script type="text/javascript">
    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var authWidget = Elm.Elements.AuthWidget.init({
      node: document.getElementById('auth-widget'),
      flags: {authTokenPbB64},
    })
    authWidget.ports.authChanged.subscribe(() => window.location.reload());
    var usernameField = document.getElementsByClassName('username-field')[0];
    if (usernameField) usernameField.focus();
  </script>
  
  {% block body %}{% endblock %}

</body>
</html>
