<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript" src="/elm/CreateMarketPage.js"></script>
  <script type="text/javascript" src="/elm/Navbar.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <main id="main"></main>
  <script type="text/javascript">

    var authTokenPbB64 = {{auth_token_pb_b64}};

    var navbar = Elm.Navbar.init({
      node: document.getElementById('navbar'),
      flags: {authTokenPbB64},
    })
    navbar.ports.authChanged.subscribe(() => window.location.reload());

    var main = Elm.CreateMarketPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64},
    });
    main.ports.createdMarket.subscribe((marketId) => {
      window.location = `/market/${marketId}`;
    });

    var questionField = document.getElementsByClassName('question-field')[0];
    if (questionField && questionField.disabled) {
      console.log('focusing username-field');
      var usernameField = document.getElementsByClassName('username-field')[0];
      if (usernameField) usernameField.focus();
    } else {
      console.log('focusing question-field');
      questionField.focus();
    }
  </script>
</body>
</html>
