<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript" src="/elm/CreateMarketPage.js"></script>
  <script type="text/javascript" src="/elm/Navbar.js"></script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  <nav id="navbar-wrapper"><div id="navbar"></div></nav>
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript">

    var authTokenPbB64 = {{auth_token_pb_b64}};

    var navbar = Elm.Navbar.init({
      node: document.getElementById('navbar'),
      flags: {authTokenPbB64},
    })
    navbar.ports.authChanged.subscribe(() => window.location.reload());
    var usernameField = document.getElementsByClassName('username-field')[0];
    if (usernameField) usernameField.focus();

    var main = Elm.CreateMarketPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64},
    });
    main.ports.createdMarket.subscribe((marketId) => {
      window.location = `/market/${marketId}`;
    });

    var predictionField = document.getElementsByClassName('prediction-field')[0];
    if (predictionField) predictionField.focus();
  </script>
</body>
</html>
