{% extends 'base_page.html' %}
{% block title %} Biatob - Invitation {% endblock %}
{% block page_body %}
  <script type="text/javascript" src="/elm/CreatePrediction.js"></script>
  <script type="text/javascript">

    var main = Elm.Elements.CreatePrediction.init({
      flags: {...window.elmGlobalFlags},
    });
    main.ports.createdPrediction.subscribe((predictionId) => {
      window.location = `/p/${predictionId}`;
    });

    var resolvesAtField = document.getElementsByClassName('resolves-at-field')[0];
    if (resolvesAtField) resolvesAtField.focus();
  </script>
{% endblock %}