{% extends 'base.html' %}
{% block title %} Biatob - My Stakes {% endblock %}
{% block body %}
  <main id="main-wrapper">
    <h2>My Stakes</h2>
    <div id="main"></div>
  </main>
  <script type="text/javascript" src="/elm/MyStakesPage.js"></script>
  <script type="text/javascript">

    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var predictionsPbB64 = {{ predictions_pb_b64 | tojson }};
    var httpOrigin = window.location.origin;

    if (!authTokenPbB64) {
      window.location = "/"; // TODO(P2): should be /login
    }

    var main = Elm.MyStakesPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64, predictionsPbB64, httpOrigin},
    });
    subscribeToCopy(main);

    var usernameField = document.getElementsByClassName('username-field')[0];
    if (usernameField) usernameField.focus();
  </script>
{% endblock %}
