<nav class="navbar-wrapper">
  <ul>
    <li><a href="/">Home</a></li>
    {% if is_logged_in %}
      <li><a href="/new">New prediction</a></li>
      <li><a href="/my_stakes">My stakes</a></li>
      <li><a href="/settings">Settings</a></li>
      <li>
        <div id="sign-out-button"></div>
        <script>
          var app = Elm.Elements.SignOutButton.init({
            node: document.getElementById('sign-out-button'),
          });
          app.ports.loggedOut.subscribe(() => window.location.reload());
        </script>
      </li>
    {% elif not (show_navbar_auth_widget is defined and not show_navbar_auth_widget) %}
      <li>
        <div id="auth-widget"></div>
        <script>
          var app = Elm.Elements.LogInWidget.init({
            node: document.getElementById('auth-widget'),
          });
          app.ports.loggedIn.subscribe(() => window.location.reload());
          document.getElementsByClassName('username-field')[0].focus();
        </script>
      </li>
    {% endif %}
  </ul>
</nav>
