<nav id="navbar-wrapper">
  <ul>
    <li><a href="/">Home</a></li>
    {% if auth_token_pb_b64 != None %}
      <li><a href="/new">New prediction</a></li>
      <li><a href="/my_stakes">My stakes</a></li>
      <li><a href="/settings">Settings</a></li>
    {% endif %}
    <li><div id="auth-widget"></div></li>
  </ul>
  <div id="navbar"></div>
</nav>
<script type="text/javascript" src="/elm/AuthWidget.js"></script>
<script type="text/javascript">
  var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
  var authWidget = Elm.AuthWidget.init({
    node: document.getElementById('auth-widget'),
    flags: {authTokenPbB64},
  })
  authWidget.ports.authChanged.subscribe(() => window.location.reload());
  var usernameField = document.getElementsByClassName('username-field')[0];
  if (usernameField) usernameField.focus();
</script>
