<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript" src="/elm/SettingsPage.js"></script>
  <script type="text/javascript">
    {% include 'Utils.js' %}
  </script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  {% include 'Navbar.html' %}
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript">

    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var settingsRespPbB64 = {{ settings_response_pb_b64 | tojson }};
    var linkToAuthority = window.location.origin;

    if (!authTokenPbB64) {
      window.location = "/"; // TODO(P2): should be /login
    }

    var main = Elm.SettingsPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64, settingsRespPbB64, linkToAuthority},
    });
    subscribeToCopy(main);
    main.ports.changed.subscribe(() => window.location.reload());
  </script>
</body>
</html>
