<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript" src="/elm/ViewUserPage.js"></script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  {% include 'Navbar.html' %}
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript">

    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var userIdPbB64 = {{ user_id_pb_b64 | tojson }};
    var userViewPbB64 = {{ user_view_pb_b64 | tojson }};
    var emailFlowPbB64 = {{ email_flow_pb_b64 | tojson }};

    var main = Elm.ViewUserPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64, userIdPbB64, userViewPbB64, emailFlowPbB64},
    });
    main.ports.changed.subscribe((predictionId) => {
      window.location.reload();
    });
  </script>
</body>
</html>
