<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script type="text/javascript" src="/elm/ViewPredictionPage.js"></script>
  <link rel="stylesheet" href="/static/base.css">
</head>

<body>
  {% include 'Navbar.html' %}
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript">

    var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
    var predictionPbB64 = {{ prediction_pb_b64 | tojson }};
    var predictionId = {{ prediction_id | tojson }};
    var linkToAuthority = window.location.origin;

    var main = Elm.ViewPredictionPage.init({
      node: document.getElementById('main'),
      flags: {authTokenPbB64, predictionPbB64, predictionId, linkToAuthority},
    });
    main.ports.copy.subscribe((id) => {
      console.log('copy');
      document.getElementById(id).select();
      document.execCommand('copy');
    });
    main.ports.changed.subscribe((predictionId) => {
      window.location.reload();
    });
  </script>
</body>
</html>
