{% extends 'base.html' %}
{% block title %} Biatob - Welcome {% endblock %}
{% block body %}

  <main id="main" style="text-align: justify">

  <h1>Betting is a tax on BS.</h1>

  <p>
    Hi! This is a tool that helps people make friendly wagers, thereby clarifying and concretizing their beliefs
    and making the world a better, saner place.
  </p>
  <p>
    Personally, when I force myself to make concrete predictions
    &mdash; especially on topics I feel strongly about &mdash;
    it frequently turns out that <i>I don't actually believe what I thought I did.</i>
    Crazy, right!? Brains suck!
    And betting, i.e. attaching money to my predictions, is
    <a href="https://marginalrevolution.com/marginalrevolution/2012/11/a-bet-is-a-tax-on-bullshit.html">an incentive to actually try to get them right</a>:
    it forces my brain to cut through (some of) the layers of
    <a href="https://en.wikipedia.org/wiki/Social-desirability_bias">social-desirability bias</a>
    and
    <a href="https://www.lesswrong.com/posts/DSnamjnW7Ad8vEEKd/trivers-on-self-deception">Triversian self-deception</a>
    to lay bare
    <a href="https://www.lesswrong.com/posts/a7n8GdKiAZRX86T5A/making-beliefs-pay-rent-in-anticipated-experiences">my actual beliefs about what I expect to see</a>.
  </p>

  <p>
    I made this tool to share that joy with you.
  </p>

  <hr />
  <h2>But what does it <i>do?</i></h2>
  <p>
    Biatob provides a place for you to advertise things like this to your friends:
    <blockquote>
      Hey, I think that X has at least a 2/3 chance of happening!
      If you think I'm overconfident, let's bet: I'll pay you $20 if I'm wrong, against your $10 if I'm right.
    </blockquote>
    Then, you publish a link to that page, and any of your friends can take you up on that bet.
    Biatob handles the bookkeeping,
    emails you (if you want) to make sure you remember to resolve the prediction when the answer becomes clear,
    and calculates and informs everybody of their net winnings.
  </p>

  <p>
    Note that last bit: "<i>informs everybody of</i> their net winnings."
    <strong>Everything is purely honor-system.</strong>
    Biatob doesn't touch money, it relies on you to settle up on your own.
    While a significant restriction in some ways (you can only bet against people who trust you to pay your debts)
    this also makes things <i>much</i> simpler:
    you don't need to give me your credit card number,
    you don't need to pay any fees,
    I don't need to worry about being charged with running an illegal gambling operation &mdash;
    everybody wins!
  </p>

  <p>
    If you want thickly traded markets with thousands of participants, try
    <a href="https://www.predictit.org/">PredictIt</a> or
    <a href="https://www.metaculus.com/">Metaculus</a>.
    This is a different beast.
  </p>


  <hr />
  <h2>Cool! How do I use it?</h2>
  <ul>
    <li style="margin-bottom:1em"> Create an account:
      <div id="welcome-page-auth-widget"></div>
      <script type="text/javascript">
        var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
        var authWidget = Elm.AuthWidgetStandalone.init({
          node: document.getElementById('welcome-page-auth-widget'),
          flags: {authTokenPbB64},
        })
        authWidget.ports.authChanged.subscribe(() => {
          if (window.location.pathname.startsWith('/welcome')) {
            window.location.reload();
          } else {
            window.location = '/welcome#postcreateaccount';
          }
        });
      </script>
    </li>
    <li style="margin-bottom:1em"> <a name="postcreateaccount"></a> Go to <a href="/new">the New Prediction page</a> to create a bet. </li>
    <li style="margin-bottom:1em"> Advertise your bet &mdash; post the link on Facebook, include a cute little embeddable image in your blog, whatever. </li>
    <li style="margin-bottom:1em"> Send your friends invitation links so I know who you trust to bet against you:
      <div style="border:1px solid gray; padding: 0.5em; margin:0.5em"><div id="welcome-page-invitation-widget"></div></div>
      <script type="text/javascript" src="/elm/SmallInvitationWidgetStandalone.js"></script>
      <script>
        var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
        var node = document.getElementById('welcome-page-invitation-widget');
        if (authTokenPbB64 != null) {
          var httpOrigin = window.origin;
          var invitationWidget = Elm.SmallInvitationWidgetStandalone.init({
            node: node,
            flags: {authTokenPbB64, httpOrigin, destination: null},
          });
          subscribeToCopy(invitationWidget);
        } else {
          node.innerText = '(first, log in)';
        }
      </script>
    </li>
    <li style="margin-bottom:1em"> Consider adding an email address, so I can remind you to resolve your prediction when the time comes:
      <div style="border:1px solid gray; padding: 0.5em; margin:0.5em"><div id="welcome-page-email-settings-widget"></div></div>
      <script type="text/javascript" src="/elm/EmailSettingsWidget.js"></script>
      <script>
        var userInfoPbB64 = {{ user_info_pb_b64 | tojson }};
        var node = document.getElementById('welcome-page-email-settings-widget');
        if (userInfoPbB64 != null) {
          var emailSettingsWidget = Elm.EmailSettingsWidget.init({
            node: node,
            flags: {userInfoPbB64},
          });
        } else {
          node.innerText = '(first, log in)';
        }
      </script>
    </li>
    <li style="margin-bottom:1em"> When your prediction resolves to Yes or No, settle up with your friends! </li>
  </ul>

  </main>

{% endblock %}