{% extends 'base.html' %}
{% block title %} Biatob - Welcome {% endblock %}
{% block body %}
  <script type="text/javascript" src="/elm/Welcome.js"></script>
  <main id="main-wrapper"><div id="main"></div></main>
  <script type="text/javascript">

  var authTokenPbB64 = {{ auth_token_pb_b64 | tojson }};
  var userInfoPbB64 = {{ user_info_pb_b64 | tojson }};
  var httpOrigin = window.location.origin;

  var main = Elm.Elements.Welcome.init({
    node: document.getElementById('main'),
    flags: {authTokenPbB64, userInfoPbB64, httpOrigin},
  });
  main.ports.authChanged.subscribe(() => {
    if (window.location.pathname.startsWith('/welcome')) {
      window.location.reload();
    } else {
      window.location = '/welcome#postcreateaccount';
    }
  });
  subscribeToCopy(main);
</script>

{% endblock %}